.article-wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.article-title {
    font-size: 1.750rem;
}
.my-5 {
    margin : 5rem 0 2rem;
}

.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
