body {
    font-family: "Lato", "Noto Sans KR", sans-serif;    
}

.d-none {
    display: none;
}

a, a:link {
    text-decoration: none;
    color: inherit;
}

/* ============== 공지사항 팝업 =============== */
#modal {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -200px;
    background: gold;
}

/* ============== 헤더영역 =============== */
.header-top {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-links {
    display: flex;
    column-gap: 20px;
}

.header-bottom {
    border-top: 1px solid #d60c00;
}
.header-bottom::after {
    content: '';
    display: block;
    clear: both;
}
#gnb {
    width: 600px;
    margin: 30px auto;
    overflow: hidden;
}
#gnb li {
    float: left;
    width: 150px;
    text-align: center;
}

/* ============== 비주얼 영역 =============== */
.hero {
    display: flex;
    justify-content: center;
    background: url("../images/hero-img.jpg");
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.slogan-text {
    color: white;
    position: absolute;
    left: 10%;
    top: 30%;
    text-shadow: 2px 2px 5px #333; 
    /* 텍스트-그림자효과 : x y radius color */
}
.slogan-text p:nth-child(1){
    font-size:2rem;
    margin: 0 0 1rem 0;
}
.slogan-text p:nth-child(2){
    font-size: 3rem;
}
.down-btn {
    position: absolute;
    left: 10%;
    top: 55%;
    color: white;
    padding: 15px 20px;
    background: black;
    border-radius: 30px;
}


/* ============== 아이콘 링크 영역 =============== */
.icon-links {
    background: #d60c00
}
.icon-links ul {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}
.icon-links ul li {
    display: inline-block;
}

/* ============== 본문영역 =============== */
#main h4 { /* id가 main인 요소의 후손중 h4를 스타일 선택 */
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0;
    color: #d60c00;
    font-size: 1.375rem; /* 16px 기준 22px은 상대적인 크기단위(%,rem) 사용 */
    font-weight: 900; /* 단위(unit)이 없음 값, z-index도 마찬가지 */
}
.prd-list { /* ul <--> .prd-list */
    display: flex; /* flex-container : 부모 */
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}
.prd-list li {
    width: 220px;
    height: 220px;
    border-radius: 50%; /* 원형, 1:1 비율이 아니면, 타원 */
    overflow: hidden;
}


/* ============== 어사이드 스타일 =============== */
aside {
    margin: 50px 0 30px;
}
.extra-links {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.extra-links li:nth-child(2) {
    margin: 0 15px;
}
/* ============== 푸터 스타일 =============== */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
address {
    margin: 1rem 0;
}